body {
    background-color: antiquewhite;
}

header {
    background-image: url(./imagem/textura3.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
}

.nav-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}