body {
    background-color: antiquewhite;
}

.conteiner-sapatos {
    display: flex;
    justify-content: space-evenly;
}

.nav-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}